@mixin respond-to($media) {
  @if $media == tablet   { @media only screen and (min-width: 768px) { @content; } }
  @else if $media == desktop   { @media only screen and (min-width: 992px) { @content; } }
  @else if $media == wide   { @media only screen and (min-width: 1200px) { @content; } }
}